@tailwind components;
@tailwind utilities;

@layer components {
  .t-to-b-animation {
    opacity: 0%;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: t-to-b-keyframe;
  }
  .b-to-t-animation {
    opacity: 0%;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: b-to-t-keyframe;
  }
  .gradient-bg-animation {
    background: linear-gradient(
      320deg,
      #ff5c58,
      #00a19d,
      #ffbd9b,
      #da66a4,
      #782de4
    );
    background-size: 1000% 1000%;
    animation: gradient-bg-keyframe 10s ease infinite;
  }
  .text-color-animation {
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: text-color-keyframe;
  }
  .gradient-border-lite {
    background: linear-gradient(#f2f2f2, #f2f2f2) padding-box,
      linear-gradient(
          320deg,
          rgba(255, 92, 88, 0.7),
          transparent,
          rgba(0, 161, 157, 0.7),
          transparent,
          rgba(120, 45, 228, 0.7)
        )
        border-box;
    background-size: 800% 800%;
    animation: gradient-bg-keyframe 20s ease infinite;
  }
  .gradient-border-lite:hover {
    background: linear-gradient(
          rgba(242, 242, 242, 0.9),
          rgba(242, 242, 242, 0.9)
        )
        padding-box,
      linear-gradient(
          320deg,
          rgba(255, 92, 88, 1),
          transparent,
          rgba(0, 161, 157, 1),
          transparent,
          rgba(120, 45, 228, 1)
        )
        border-box;
    background-size: 800% 800%;
    animation: gradient-bg-keyframe 20s ease infinite;
  }
  .gradient-border-dark {
    background: linear-gradient(#0f1b2c, #0f1b2c) padding-box,
      linear-gradient(
          320deg,
          rgba(255, 92, 88, 0.6),
          transparent,
          rgba(0, 161, 157, 0.6),
          transparent,
          rgba(120, 45, 228, 0.6)
        )
        border-box;
    background-size: 800% 800%;
    animation: gradient-bg-keyframe 20s ease infinite;
  }
  .gradient-border-dark:hover {
    background: linear-gradient(rgba(15, 27, 44, 0.8), rgba(15, 27, 44, 0.8))
        padding-box,
      linear-gradient(
          320deg,
          rgba(255, 92, 88, 0.6),
          transparent,
          rgba(0, 161, 157, 0.6),
          transparent,
          rgba(120, 45, 228, 0.6)
        )
        border-box;
    background-size: 800% 800%;
    animation: gradient-bg-keyframe 20s ease infinite;
  }
  .gradient-border {
    @apply gradient-border-lite dark:gradient-border-dark border-[4px] border-solid border-transparent;
  }
  .link {
    @apply hover:text-color-animation hover:animation-duration-2;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
  .animation-duration-2 {
    animation-duration: 2s;
  }
}

@keyframes t-to-b-keyframe {
  0% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes b-to-t-keyframe {
  0% {
    transform: translateY(10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes gradient-bg-keyframe {
  0% {
    background-position: 26% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 26% 0%;
  }
}

@keyframes text-color-keyframe {
  0% {
    color: #ff5c58;
  }
  25% {
    color: #00a19d;
  }
  50% {
    color: #ffbd9b;
  }
  75% {
    color: #da66a4;
  }
  100% {
    color: #782de4;
  }
}
