@tailwind components;
@tailwind utilities;

@layer components {
  .t-to-b-animation {
    opacity: 0%;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: t-to-b-keyframe;
  }
  .b-to-t-animation {
    opacity: 0%;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: b-to-t-keyframe;
  }
  .gradient-bg-animation {
    background: linear-gradient(
      320deg,
      #ff5c58,
      #00a19d,
      #ffbd9b,
      #da66a4,
      #782de4
    );
    background-size: 1000% 1000%;
    animation: gradient-bg-keyframe 10s ease infinite;
  }
  .text-color-animation {
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: text-color-keyframe;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}

@keyframes t-to-b-keyframe {
  0% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes b-to-t-keyframe {
  0% {
    transform: translateY(10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes gradient-bg-keyframe {
  0% {
    background-position: 26% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 26% 0%;
  }
}

@keyframes text-color-keyframe {
  0% {
    color: #ff5c58;
  }
  25% {
    color: #00a19d;
  }
  50% {
    color: #ffbd9b;
  }
  75% {
    color: #da66a4;
  }
  100% {
    color: #782de4;
  }
}
