@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

body {
  font-family: "Poppins", sans-serif !important;
  @apply bg-cCommon-white dark:bg-cCommon-black;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  max-width: 66ch;
}

@layer components {
  .dpx {
    @apply px-4 sm:px-12 md:px-24 lg:px-40;
  }
  .dpy {
    @apply py-4 sm:py-12 md:py-24 lg:py-40;
  }
  .btn {
    @apply sm:!px-5 sm:!py-2 sm:text-base lg:!px-6 lg:!py-3 lg:text-lg;
  }
  .heading {
    @apply text-2xl font-semibold before:font-light before:text-slate-400 before:content-["#_"] sm:text-3xl lg:text-4xl;
  }
}
